:root {
    --primary-color: #009688;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3d;
    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

*{
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* Test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-5 {
    padding-left: 5px;
    padding-right: 5px;
    width: 41.6667%;
}

.grid__column-7 {
    padding-left: 5px;
    padding-right: 5px;
    width: 58.3333%;
}


.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width:83.333%;
}

/* MODAL */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    animation: fadeIn linear 0.1s;
}

.modal.open {
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-form: 0.7;
    --growth-to: 1;
    margin: auto;
    z-index: 1;
    animation: growth linear 0.1s;
}



/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(--growth-form);
    }
    to {
        transform: scale(--growth-to);
    }
}

/* Button style */
.btn {
    min-width: 142px;
    height: 34px;
    font-size: 1.5rem;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}

.btn.btn--disabled {
    background-color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

/* Selection */
.select-input {
    position: relative;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__wrap {
    min-width: 200px;
    display: flex;
    background-color: var(--white-color);
    height: 35px;
    margin-left: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    border-radius: 2px;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: var(--text-color);
    top: 1px;
}

.select-input__list {
    position: absolute;
    background-color: var(--white-color);
    right: 0;
    top: 27px;
    z-index: 1;
    width: 200px;
    border-radius: 2px;
    list-style: none;
    padding: 10px 10px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.select-input__item {
    padding-top: 15px;
}

.select-input__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
}

.select-input__link:hover {
    color: var(--primary-color);
}
/* Pagination */
.pagination {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.pagination-item {
   margin: 0 12px;
}

.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover {
    background-color: #03d8c2;
}

.pagination-item__link {
    --height: 30px;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    display: block;
    text-align: center;
}

.pagination-item__icon {

}